
 <li id="comment-<%= comment.id %>">
    <h5 style="display: inline;"> <%= comment.user.name%> :</h5>
    <small> <%= comment.content %> </small>
    <% if(locals.user && ( locals.user.id == comment.user.id  || locals.user.id == post.user.id ) ){%> 
       
      <small>
        <a href="/comment/destroy/<%= comment.id %>" class="delete-comment-button">
          <i class="fas fa-times-circle"></i>
        </a>
      </small>
    <% } %> 

    <% if(locals.user){ %>
      <a href="/likes/toggle/?id=<%=comment._id%>&type=Comment"  class ="like-button"  data-likes="<%=comment.likes.length %>">
        <i class="fas fa-thumbs-up"></i> <%=comment.likes.length %>
      </a>  
      &ensp;
    <% }else{ %> 
      <i class="fas fa-thumbs-up"></i>
      <%=comment.likes.length %> 
    <%}%>
  </li>