<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      <%= title %>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <link rel="stylesheet" href="<%= assetPath('css/layout.css')%>">
    
    <link rel="stylesheet" href="<%= assetPath('css/footer.css')%>">
    <link rel="stylesheet" href="<%= assetPath('css/header.css')%>">


    <%- style %>
  <!-- if stylesheet in individual file attach it here in layout  -->
</head>
<body>
    <%- include('_header'); %>
    
        <!-- <% if(flash.success && flash.success.length > 0 ){ %>
        <p style="background-color: red;"> <%= flash.success %>  </p> 
        
        <% } %> we ll use noty now -->

    <main id="layout-main">
       <%- body %>  
       <!-- varible parts of layout which is filled by home.ejs or user_profile.ejs -->
    </main>

    <%- include('_footer'); %>

  <!-- if script tag in individual file attach it here in layout  -->
    <%- script %>
    <!-- <script src="/js/home_post_comments.js" ></script> -->
    <script>
       <% if(flash.success && flash.success.length > 0 ){ %>
        new Noty({
          theme: 'relax',
          text: '<%= flash.success %>',
          type: 'success',
          layout: 'top',
          timeout: 1500 
      
        }).show();
       <% } %>

        <%if(flash.error && flash.error.length > 0 ){ %>
         new Noty({
            theme: 'relax',
            text: '<%= flash.error %>',
            type: 'error',
            layout: 'top',
            timeout: 1500 
        
          }).show();
        <%}%>

    </script>


</body>
</html>