<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/layout.css">
    
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">


    <%- style %>
  <!-- if stylesheet in individual file attach it here in layout  -->
</head>
<body>
    <%- include('_header'); -%>
    
    <main id="layout-main">
       <%- body %>  
       <!-- varible parts of layout which is filled by home.ejs or user_profile.ejs -->
    </main>

    <%- include('_footer'); -%>

    <%- script %>
<!-- if script tag in individual file attach it here in layout  -->
</body>
</html>