
<link rel="stylesheet" href="<%= assetPath('css/user_profile.css')%>"> 

 <h1> Profile </h1>
    
    <!-- <div>
        <p> <%= user.name %>  </p>  //user from locals
        <p> <%= user.email %> </p>
    </div>   -->

    <!-- <div>
        <!- profile_user from users_controller.js ->
        <p> <%= profile_user.name %>  </p>      
        <p> <%= profile_user.email %> </p>
    </div>   -->


 <!-- showing profile picture on user's profile page -->
 <img src="<%=user.avatar%>" alt="<%= user.name %>" width="100">


  <!-- if loggedin user matches show update form -->
  <% if(user.id == profile_user.id){ %>
    <div id="update-form">
        <form action="/users/update/<%= user.id%>" enctype="multipart/form-data" method="POST">
          <input type="email" name="email" value="<%= profile_user.email %>" placeholder="enter new email" required>
          <input type="text" name="name" value="<%= profile_user.name %>" placeholder="enter new name" required>
          <input type="file" name="avatar" placeholder="profile picture" onchange="loadPreview(event)">
          <input type="submit" value="Update"> 
        </form>

    </div>

    <div id="preview-profile-picture">
      <img id="preview-img" src="" alt="preview-picture" width="100%" height="100%">
    </div>
 
 
 <% }else { %> 
    <!-- else show only profile page -->
    <p> <%= profile_user.name %>  </p>      
    <p> <%= profile_user.email %> </p>
  <% }%>

 
  <a href="/users/add-friend/?from_user=<%= user.id%>&to_user=<%=profile_user.id%>"  class="click-to-add"> Add Friend </a>



<script >
  function loadPreview(event){
   
   $('#preview-img').attr('src' ,  URL.createObjectURL(event.target.files[0]));
 }

</script>
<script src="<%= assetPath('js/friendship.js') %>"></script>
<script>

$('.click-to-add').each( function(){
    let self = this;
    let element = new addFriends(self);
  });
</script>


